$bg-primary: #f5f6fa;
$bg-variant: #d3d7e0;
$bx-shadow: #b5b8bb;
$bx-shadow-inner: #c4c5c7;
$search: #fff;

// dark mode
// $bg-primary: #23252E;
// $bg-variant: #161d31;
// $bx-shadow: #05061a;
// $bx-shadow-inner: #03060f;
// $search: #0d131f;

.logo {
    color: #258542;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;

    .xlicon {
        color: #128044;
    }

    h1 {
        font-weight: 600;
    }
}

.inputContainer {
    background-color: $bg-primary;
    margin: 1.5rem 3rem;
    border-radius: 0.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0 0 8px $bx-shadow;

    .label {
        background-color: $bg-variant;
        padding: 0.5rem 2rem;
        border-radius: 0.3rem;
        height: 3rem;
        box-shadow: 0 0 5px $bx-shadow-inner;

        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;
        .icons {
            position: relative;

            .xlicon {
                color: #128044;
            }

            .addicon {
                color: #be3838;
                position: absolute;
                left: 18px;
                top: -8px;
            }
        }
    }

    .filedetails {
        background-color: $bg-variant;
        padding: 1rem;
        border-radius: 0.3rem;
        height: 3rem;
        display: flex;
        gap: 1rem;
        box-shadow: 0 0 5px $bx-shadow-inner;

        p {
            font-size: 0.8rem;
        }
    }
}

.below {
    display: flex;
    margin: 0 3rem;
    height: calc(100vh - 13rem);
    gap: 1.5rem;

    .filterContainer {
        background-color: $bg-primary;
        flex: 1;
        border-radius: 0.5rem;
        box-shadow: 0 0 8px $bx-shadow;

        .filterSearch {
            border: none;
            border-radius: 0.3rem;
            background-color: $search;
            border-bottom: 1px solid crimson;
            outline: none;
            margin: 1rem 0.5rem;
            padding: 0.8rem;
            font-size: 1rem;
            box-shadow: 0 0 8px $bx-shadow-inner;
            width: calc(100% - 1rem);
        }

        .keysContainer {
            background-color: $bg-variant;
            margin: 0.5rem;
            border-radius: 0.3rem;
            padding: 1rem;
            box-shadow: 0 0 5px $bx-shadow-inner;
            display: flex;
            flex-direction: column;

            .keyCheckbox {
                display: flex;
                gap: 1rem;
                padding: 0.5rem;

                .checkbox {
                    outline: none;
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                }

                label {
                    cursor: pointer;
                }
            }
        }
    }

    .contentContainer {
        flex: 3;
        background-color: $bg-primary;
        border-radius: 0.5rem;
        padding: 1rem;
        overflow-y: scroll;
        box-shadow: 0 0 8px $bx-shadow;

        &::-webkit-scrollbar {
            width: 0.5rem;
            border-radius: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: crimson;
            outline: none;
            border-radius: 1rem;
        }

        table {
            // background-color: #a3d9e0;
            padding: 1rem 1.5rem;
            border-radius: 0.3rem;

            tbody {
                tr {
                    th {
                        padding: 0.5rem;
                        font-weight: 600;
                        border-bottom: 1px solid crimson;
                    }

                    td {
                        padding: 0.5rem;
                    }
                }
            }
        }
    }
}
